body {
    background-color: black;
}



.flag {
    border: 5px solid white;
    position: relative;
    top: 150px;
    left: 50px;
    
    width: 900px;
   
}

.wrapper > .flag .top {
    height: 150px;
    background-color: orange;
    
}

.wrapper > .flag .middle {
    height: 150px;
    background-color: white;
}

.wrapper > .flag .bottom {
    height: 150px;
    background-color: green;
}


.wrapper > .flag > .middle > .wheel {
    height: 148px;
    width: 148px;
    position: relative;
    border-radius: 50%;
    border: 1px solid darkblue;
    margin: 0 auto;
    top: 0px;
}

.wrapper > .flag > .middle > .wheel .line {
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    left: 50%;
    background: darkblue;
}

.line:nth-child(1) {
    transform: rotate(15deg)
}
 
.line:nth-child(2) {
    transform: rotate(30deg)
}
 
.line:nth-child(3) {
    transform: rotate(45deg)
}
 
.line:nth-child(4) {
    transform: rotate(60deg)
}
 
.line:nth-child(5) {
    transform: rotate(75deg)
}
 
.line:nth-child(6) {
    transform: rotate(90deg)
}
 
.line:nth-child(7) {
    transform: rotate(105deg)
}
 
.line:nth-child(8) {
    transform: rotate(120deg)
}
 
.line:nth-child(9) {
    transform: rotate(135deg)
}
 
.line:nth-child(10) {
    transform: rotate(150deg)
}
 
.line:nth-child(11) {
    transform: rotate(165deg)
}
 
.line:nth-child(12) {
    transform: rotate(180deg)
}


.wheel {
    animation-name: wheel;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
 
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

p {
    color: white;
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    left: 350px;
}
